/* Common Shared style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    padding: 6px 8px;
    color: aliceblue;
    font-size: 18px;
}

/* Nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

/* button{
    width: 120px;
height: 44px;
flex-shrink: 0;
} */

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related style */

.header {
    background: #FFF8F3;
    background-image: url(images/header_bg.png),url(images/developer.png) ; 
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-bottom: 40px;
}

.banner-content {
    max-width: 500px;
}

/* main section style */
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* about section style */

.about {
    margin-top: 70px;
    background-color: #FFF8F3;
    padding: 8px 17px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    color: #181818;
    font-weight: 700;
}

.section-description {
    text-align: center;
    color: #757575;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    margin-bottom: 0px;
}

.info-description {
    margin-top: 5px;
}

/* What i do section start */


#what-i-do-description {
    padding: 30px 150px;
}

/* Skills related styles */

.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px
     rgba(0, 0, 0, 0.06);
}
.skils-discription{
    color: #757575;
}

/* Resume seection styles */

.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

#resume-container{
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
}

.icon{
    text-align: center;
}
/* .download-cv{
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 9px 10px;
} */

/* footer style */

footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 120px 100px;
    margin-top: 120px;
}

.footer-column{
    width: 50%;
    text-align: left;
}
.social-links a{
    margin-right: 26px;
}

.contact{
    /* line-height: 100px; */
}

.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 10px 25px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

.contact>.btn-primary{
    margin-top: 40px;
}



