/* Common Shared style */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
}

/* Nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

button{
    width: 85px;
height: 44px;
flex-shrink: 0;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related style */

.header{
    background: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 500px;
}








